body {
  background: black;
  color: white;
}

#newNote {
  position: absolute;
  left: calc(100% - 70px);
  top: calc(100% - 80px);
}

#newNote button {
  padding: 20px;
}

#newNoteWindow {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

#newNoteWindow textarea {
  resize: none;
  width: 200px;
  height: 200px;
}